09.22.2020

# Pre-class notes

PANDAS (data analysis library-allows us to read in an work with differnt types of data)

In [3]:
import pandas as pd
pd.__version__

'1.0.5'

In [9]:
pd<(click the 'tab' button and menu of all the commands within the namespace will come up)>

SyntaxError: invalid syntax (<ipython-input-9-b6227f8afc64>, line 1)

In [6]:
pd?

df is data frame

In [10]:
conda update pandas

Collecting package metadata (current_repodata.json): done
Solving environment: \

Updating pandas is constricted by

anaconda -> requires pandas==1.0.5=py38h959d312_0

If you are sure you want an update of your package either try `conda update --all` or install a specific version of the package you want using `conda install <pkg>=<version>`

done

## Package Plan ##

  environment location: /Users/stephanie/opt/anaconda3

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.5                |           py38_0         2.8 MB
    ------------------------------------------------------------
                                           Total:         2.8 MB

The following packages will be UPDATED:

  conda                                        4.8.3-py38_0 --> 4.8.5-py38_0



Downloading and Extracting Packages
conda-4.8.5          | 2.8 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import pandas as pd

In [2]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [4]:
data[5]

0.5

In [5]:
data[3]

0.75

In [6]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [7]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [13]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [14]:
pd.__version__

'1.0.5'

In [16]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

Int64Index([1, 2, 9, 11], dtype='int64')

In [17]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [20]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [19]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [26]:
import pandas as pd
data = pd.Series([0.0, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.00
b    0.50
c    0.75
d    1.00
dtype: float64

In [29]:
data['b']

0.5

In [30]:
'a' in data

True